{% extends "index.html" %}

{% block content %}

<div style="margin: auto;">

<h2 class="full_width"> Fonts </h2>
<div class="full_width center">
<ul class="half_width">
  <li><a href="https://int10h.org/oldschool-pc-fonts/" target="_blank">int10h.org</a></li>
  <li><a href="https://github.com/farsil/ibmfonts/" target="_blank">github.com/farsil</a></li>
  <ul>
</div>

<h2 class="full_width"> Colors </h2>
<div class="full_width center">
<ul class="half_width">
  <li><a href="https://monokai.pro/" target="_blank">monokai-pro</a></li>
<ul>
</div>

<h2 class="full_width"> Framework </h2>
<div class="full_width center">
<ul class="half_width">
  <li><a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">flask</a></li>
  <ul>
</div>

<h2 class="full_width"> Wordle Answers </h2>
<div class="full_width center">
<ul class="half_width">
  <li><a href="https://wordfinder.yourdictionary.com/wordle/answers/" target="_blank">yourdictionary</a></li>
  <ul>
</div>

</div>
{% endblock %}
