{% extends "index.html" %}

{% block content %}
    <div style="position: relative; width: 100%; height: 80em;">
    {% for m in magnets %}
        {{ macros.make_magnet(m[0], m[1], [m[2], m[3]]) }}
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}

var magnets = document.getElementsByClassName("magnet");
const wm = new WeakMap();
    
for (let i = 0; i < magnets.length; i++) {
    wm.set(magnets[i], true);
    dragElement(magnets[i]);
}

function updateElement(elmnt, update) {
    if (wm.get(elmnt)){
       elmnt.style.top = update[2] + "px";
       elmnt.style.left = update[3] + "px";
    }
}
                    
// Sources:
// https://www.w3schools.com/howto/howto_js_draggable.asp
// https://www.redblobgames.com/making-of/draggable/
function dragElement(elmnt) {
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    document.getElementById(elmnt.id).onpointerdown = dragPointerDown;

    function dragPointerDown(e) {
        e = e || window.event;
        e.preventDefault();
        wm.set(elmnt, false);
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onpointerup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onpointermove = elementDrag;
    }

    function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        postNewPosition();
    }

    function closeDragElement() {
        /* stop moving when mouse button is released:*/
        postNewPosition();

        wm.set(elmnt, true);        
        document.onpointerup = null;
        document.onpointermove = null;
    }

    function postNewPosition() {
        w = elmnt.children[0].innerHTML;
        var data = new FormData();
        data.append(w + "_" + elmnt.id,
                    elmnt.offsetTop + "_" + elmnt.offsetLeft);
        navigator.sendBeacon("/fridge", data);
    }
}

async function updateMagnets() {

     var response = await fetch("/magnets").catch((error) =>
                         console.error("HTTPS Error: " + error));
     var magnets = await response.json();

     for (let i = 0; i < magnets.length; i++) {
         updateElement(document.getElementById(magnets[i][0]),
                       magnets[i])
     }
 
}


setInterval(updateMagnets, 1000);

{% endblock %}
