
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>and/or</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/static/andor.css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180"    href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/static/favicon-16x16.png">
    {% import "macros.html" as macros %}
  </head>
  <body>

    <!-- Hi! -->    
    
    <div class="header">
      {{ macros.make_header(header) }}      
    </div>

    <div class="content">
      {% block content %} {% endblock %}
    </div>

    <div class="footer">

    </div>

    <script>
    {% block scripts %} {% endblock %}
    </script>
    
  </body>
</html>
