
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>and/or</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/static/andor.css" rel="stylesheet"/>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div class="header">
      <a href="{{ url_for('about') }}">about</a>
      <a href="{{ url_for('projects') }}">projects</a>
      <a href="{{ url_for('designs') }}">designs</a>
      <a href="{{ url_for('notes') }}">notes</a>
    </div>
    
    <!-- Welcome Page -->
    <div style="width: 100%; 
                display: flex; 
                justify-content: center;
                margin-top: 30vh;">
     <div style="width: {{bit_msg_width}}vw;">
      {% for line in bit_msg_styles %}
      <div class="bit_msg", style="width: 100%;">
        {% for s in line %}
        <span style="{{s}}"></span>
        {% endfor %}
      </div>
      {% endfor %}
     </div>
    </div>
    
  </body>
</html>
