{% macro make_bit_msg(styles) -%}
{% for line in styles %}
<div class="bitmap">
  {% for bit_style in line %}
  <div style="{{bit_style}}"></div>
  {% endfor %}
</div>
{% endfor %}
{%- endmacro %}

{% macro make_txt_msg(text_lines) -%}
{% for line in text_lines %}
  <p style="font-size: .01em; color: #ffd866;">{{line | safe}}</p>
{% endfor %}
{%- endmacro %}

{% macro make_header(header) -%}
{% for side in ['left', 'right'] %}
<div class="{{ side }}"
     style="width: 50%; 
            heigth: 100%; 
            margin-{{side}}: 1em;">
  <a href="{{ url_for(header[side]['path']) }}" style="position: relative;">
    <div style="width: {{ header[side]['width'] }}{{ header['units'] }}; 
                height: {{ header['height'] }}{{ header['units'] }};
                position: relative;
                z-index: 1;"
         alt="{{ header[side]['path'] }}">
      {{ make_bit_msg(header[side]['front_styles']) }}
    </div>
    <div class="link"
         style="width: {{ header[side]['width'] }}{{ header['units'] }}; 
                height: {{ header['height'] }}{{ header['units'] }};
                position: absolute;
                top: .2em;
                left: .2em;
                z-index: 0;">
      {{ make_bit_msg(header[side]['link_styles']) }}
    </div>
  </a>
</div>
{% endfor %}
{%- endmacro %}

{% macro make_message(message) -%}
<div style="width: {{ message['message']['width'] }}{{ message['units'] }}; 
            height: {{ message['height'] }}{{message['units']}};
            margin-top: 2em;
            margin-bottom: 8em;"
     alt="hi! you've reached yoni. i'm away from my website
          right now. so please: leave a message after the... *BEEP*">
  {{ make_bit_msg(message['message']['styles']) }}
  {{ make_txt_msg(message['beep']['text']) }}
</div>
{%- endmacro %}


