
{% extends "index.html" %}

{% block content %}

<ul>
  <li><a href="{{url_for('acknowledgements')}}">acknowledgements</a></li>
  <li><a href="{{url_for('fridge')}}">fridge</a></li>
  <li><a href="https://github.com/YDAckerman/FiresideSat"
         target="_blank">FiresideSat</a></li>
    <li><a href="https://github.com/YDAckerman/troll"
           target="_blank">troll</a></li>
    <li><a href="https://github.com/YDAckerman/andor"
           target="_blank">this site</a></li>
    <li><a href="https://yoni.e-worm.club/index.gmi">my e-worm</a></li>
</ul>

{% endblock %}

