{% extends "index.html" %}

{% block content %}

<div style="width: 100%; 
          display: flex; 
          justify-content: center;">
  <h3>Was it a Wordle?</h3>
</div>  
<div style="width: 100%; 
            display: flex; 
            justify-content: center;
            margin-top: 2em;">
  
  <form action="{{ url_for('wordbefore') }}" method="post">
    <div style="width: 100%">
      <p>ENTER FIVE LETTERS:<p>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
        <input style="width: 13em;"
               type="text" id="word" name="word" pattern="[a-zA-Z]{5}" required>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;
                margin-top: 1em;">
      <input type="submit" value="SEARCH">
    </div>
  </form>
</div>

<div style="width: 100%; display: flex; justify-content: center;
            margin-top: 2em;">
  <p> {{ response[0] }} </p>
</div>
<div style="width: 100%; display: flex; justify-content: center;">
  <p style="font-size: 12px;"> {{ response[1] }} </p>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

